<section class="general-page">
	<div class="login-form panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Admin Panel</h3>
		</div>
		<div class="panel-body">
			<%= semantic_form_for( resource, as: resource_name, url: session_path( resource_name ) ) do |f| %>
				<% flash.each do |name, msg| %>
					<% if msg.is_a? String %>
					<p class="alert alert-danger">
						<%= msg %>
					</p>
					<% end %>

				<% end %>
				<%= f.input :username, append_content: content_tag( :span, content_tag( :i, "", class: "glyphicon glyphicon-user" ), class: "input-group-addon" ) %>
				<%= f.input :password, append_content: content_tag( :span, content_tag( :i, "", class: "glyphicon glyphicon-lock" ), class: "input-group-addon" ) %>

				<% if devise_mapping.rememberable? %>
					<%= f.input :remember_me, as: :boolean %>
				<% end %>
				<%= f.action :submit, label: "Log in", as: :button, button_html: { class: "btn btn-primary pull-right" } %>
			<% end %>
		</div>
	</div>
</section>
